<nav class="bg-yellow-400 text-black-400 shadow-md sticky top-0 z-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-20">

      <!-- Logo -->
      <div class="flex-shrink-0 text-2xl font-bold text-black-400">
        <!-- Replace with an <img> tag if you have an image logo -->
        <span>MiniPay Admin Panel</span>
      </div>

      <!-- Nav Links -->
      <div class="flex space-x-4">
        <button
          class="px-3 py-2 rounded-md text-large font-bold hover:bg-gray-200 hover:text-black transition cursor-pointer"
          (click)="goToPaymentProviders()"
        >
          Payment Providers
        </button>
        <button
          class="px-3 py-2 rounded-md text-large font-bold hover:bg-gray-200 hover:text-black transition cursor-pointer"
          (click)="goToSimulateTransaction()"
        >
          Simulate Transaction
        </button>
      </div>
    </div>
  </div>
</nav>
